form {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 0.9rem;
	margin-bottom: 4px;
}

input {
	line-height: 2;
	margin-bottom: 16px;
	padding: 0 8px;
}

button {
	height: 2.4rem;
	margin-top: 4px;
	background-color: #fc9f82;
	border: none;
	color: white;
	border-radius: 0.4rem;
	cursor: pointer;
}

button:hover {
	background-color: #d13100;
}

button:active {
	background-color: #3a0e00;
}

span{
    color: red;
}
